

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <img src="../../assets/icon/image1.png"  alt="spotify" class="spotify-image">
            <ion-card-title>Millones de canciones en un solo lugar</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="button-container">
              <ion-button class="small-button" shape="round" color="success" href="/tabs/tab3">Inicia sesión</ion-button>
              <ion-button class="small-button" shape="round" color="dark" href="/tabs/tab2">Registro</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

   
