<ion-content>
  <ion-grid>
    <ion-row class="align-center">
      <ion-col size="12">
        <ion-card>
          <ion-card-header class="header-container">
            <ion-button href="/tabs/tab4" class="small-button" color="light" shape="round"> 
              <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon> 
            </ion-button>
            <div class="text-center">
            <ion-card-title>Crea una playlist</ion-card-title>
          </div>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              
                <ion-label position="floating">Nombre de la playlist</ion-label>
              
                <ion-input type="text" [(ngModel)]="nombrePlaylist"></ion-input>
              
            
            </ion-list>
            <div class="button-container">
            <ion-button class="sm-button" shape="round" color="success" expand="block" (click)="crearPlaylist()">Crear</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

